footer {
    width: 100%;
    background: var(--background-color);
    height: auto;
    padding: 5rem 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer {
    position: absolute;
    bottom: 1px;
    left: 16px;
  }
  footer img {
    width: 13rem;
    height: 5.5rem;
  }
  
  footer .footer-menu {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  footer div h4 {
    font-size: 2rem;
    text-transform: capitalize;
  }
  
  footer div a {
    font-size: 1.7rem;
    line-height: 150%;
  }
  
  footer .footer-div-5 a {
    font-size: 1.5rem;
  }
  .icon-bar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  .icon-bar a {
    width: 18rem;
    background: #3b5999;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.7rem;
    padding: 0.5rem;
    transition: all 0.5s linear;
    transform: translateX(-14.5rem);
  }
  
  .icon-bar a:hover {
    transform: translateX(0);
  }
  
  .icon-bar a .fab {
    padding-left: 1rem;
    font-size: 3rem;
    animation: letszoom 3s linear alternate-reverse infinite;
  }
  
  @keyframes letszoom {
    from {
      transform: scale(0.6);
    }
    to {
      transform: scale(0.9);
    }
  }
  
  .icon-bar .twitter {
    background: #00aced;
  }
  
  .icon-bar .instagram {
    background: #e4405f;
  }
  
  .icon-bar .youtube {
    background: #cd201f;
  }
  
  .icon-bar .linkedin {
    background: #0077b5;
  }  